<h1 mat-dialog-title>{{isEdit?"Cập nhật":"Thêm"}} gói tín dụng</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="d-flex flex-column" mat-dialog-content>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Người Tạo
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [formControl]="createdBy" required placeholder="createdBy">
                    <mat-error *ngIf="createdBy.invalid">{{getErrorMessage(createdBy)}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [formControl]="modifiedBy" required placeholder="modifiedBy">
                    <mat-error *ngIf="modifiedBy.invalid">{{getErrorMessage(modifiedBy)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="createdOnBehalfBy" required placeholder="createdOnBehalfBy">
                    <mat-error *ngIf="createdOnBehalfBy.invalid">{{getErrorMessage(createdOnBehalfBy)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="modifiedOnBehalfBy" required placeholder="modifiedOnBehalfBy">
                    <mat-error *ngIf="modifiedOnBehalfBy.invalid">{{getErrorMessage(modifiedOnBehalfBy)}}</mat-error>
                </mat-form-field>
                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!---->
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ngày Tháng
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>date_range</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [formControl]="createdOn" required placeholder="createdOn" [matDatepicker]="dateq" (focus)="dateq.open()" readonly>
                    <mat-error *ngIf="createdOn.invalid">{{getErrorMessage(createdOn)}}</mat-error>
                </mat-form-field>
                <mat-datepicker #dateq></mat-datepicker>
                <mat-form-field>
                    <input matInput [formControl]="modifiedOn" placeholder="modifiedOn" [matDatepicker]="dateq1" (focus)="dateq1.open()" readonly required>
                    <mat-error *ngIf="modifiedOn.invalid">{{getErrorMessage(modifiedOn)}}</mat-error>
                </mat-form-field>
                <mat-datepicker #dateq1></mat-datepicker>
                <mat-form-field>
                    <input matInput [formControl]="overriddenCreatedOn" required placeholder="overriddenCreatedOn" [matDatepicker]="dateq2" (focus)="dateq2.open()" readonly>
                    <mat-error *ngIf="overriddenCreatedOn.invalid">{{getErrorMessage(overriddenCreatedOn)}}</mat-error>
                </mat-form-field>
                <mat-datepicker #dateq2></mat-datepicker>
                <mat-form-field>
                    <input matInput [formControl]="validToDate" required placeholder="validToDate" [matDatepicker]="dateq3" (focus)="dateq3.open()" readonly>
                    <mat-error *ngIf="validToDate.invalid">{{getErrorMessage(validToDate)}}</mat-error>
                </mat-form-field>
                <mat-datepicker #dateq3></mat-datepicker>




                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!---->
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Chủ sở hữu
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [formControl]="ownerId" required placeholder="ownerId">
                    <mat-error *ngIf="ownerId.invalid">{{getErrorMessage(ownerId)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="ownerIdType" required placeholder="ownerIdType">
                    <mat-error *ngIf="ownerIdType.invalid">{{getErrorMessage(ownerIdType)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="owningBusinessUnit" required placeholder="owningBusinessUnit">
                    <mat-error *ngIf="owningBusinessUnit.invalid">{{getErrorMessage(owningBusinessUnit)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="owningUser" required placeholder="owningUser">
                    <mat-error *ngIf="owningUser.invalid">{{getErrorMessage(owningUser)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="owningTeam" required placeholder="owningTeam">
                    <mat-error *ngIf="owningTeam.invalid">{{getErrorMessage(owningTeam)}}</mat-error>
                </mat-form-field>


                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!---->
            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Trạng thái
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>repeat</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [formControl]="statusCode" required placeholder="statusCode">
                    <mat-error *ngIf="statusCode.invalid">{{getErrorMessage(statusCode)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="statusCode_display" required placeholder="statusCode_display">
                    <mat-error *ngIf="statusCode_display.invalid">{{getErrorMessage(statusCode_display)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="stateCode" required placeholder="stateCode">
                    <mat-error *ngIf="stateCode.invalid">{{getErrorMessage(stateCode)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="stateCode_display" required placeholder="stateCode_display">
                    <mat-error *ngIf="stateCode_display.invalid">{{getErrorMessage(stateCode_display)}}</mat-error>
                </mat-form-field>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!---->
            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Loại tín dụng
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>credit_card</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [formControl]="creditPlanCampaignId" required placeholder="creditPlanCampaignId">
                    <mat-error *ngIf="creditPlanCampaignId.invalid">{{getErrorMessage(creditPlanCampaignId)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="creditType" required placeholder="creditType">
                    <mat-error *ngIf="creditType.invalid">{{getErrorMessage(creditType)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="creditType_display" required placeholder="creditType_display">
                    <mat-error *ngIf="creditType_display.invalid">{{getErrorMessage(creditType_display)}}</mat-error>
                </mat-form-field>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <!---->
            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Phiên bản
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>remove_from_queue</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [formControl]="versionNumber" required placeholder="versionNumber">
                    <mat-error *ngIf="versionNumber.invalid">{{getErrorMessage(versionNumber)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="timeZoneRuleVersionNumber" required placeholder="timeZoneRuleVersionNumber">
                    <mat-error *ngIf="timeZoneRuleVersionNumber.invalid">{{getErrorMessage(timeZoneRuleVersionNumber)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="UTCConversionTimeZoneCode" required placeholder="UTCConversionTimeZoneCode">
                    <mat-error *ngIf="UTCConversionTimeZoneCode.invalid">{{getErrorMessage(UTCConversionTimeZoneCode)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="importSequenceNumber" required placeholder="importSequenceNumber">
                    <mat-error *ngIf="importSequenceNumber.invalid">{{getErrorMessage(importSequenceNumber)}}</mat-error>
                </mat-form-field>




                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-raised-button (click)="dialogRef.close()">Hủy</button>
                    <button mat-raised-button color="primary" type="submit">
              <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
              Lưu
              </button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>


    </div>
</form>