<h1 mat-dialog-title>{{isEdit?"Cập nhật":"Thêm mới"}} giải ngân</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">

    <mat-tab-group>

        <mat-tab label="Log information">
            <div class="d-flex flex-column" mat-dialog-content>
                <mat-form-field>
                    <input matInput [formControl]="createdOn" [matDatepicker]="picker" placeholder="Created On">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="createdBy" placeholder="Created By">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="modifiedOn" [matDatepicker]="picker1" placeholder="Modified On">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="modifiedBy" placeholder="Modified By">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="createdOnBehalfBy" placeholder="Created On Behalf By">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="modifiedOnBehalfBy" placeholder="Modified On Behalf By">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="overriddenCreatedOn" [matDatepicker]="picker2" placeholder="Overridden Created On">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="importSequenceNumber" placeholder="Import Sequence Number">
                </mat-form-field>
                <mat-action-row>
                    <button mat-raised-button (click)="dialogRef.close()">Close</button>
                </mat-action-row>
            </div>
        </mat-tab>

        <mat-tab label="Membership information">
            <div class="d-flex flex-column" mat-dialog-content>
                <mat-form-field>
                    <input matInput [formControl]="ownerIdType" placeholder="Owner Id Type">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="ownerId" placeholder="Owner Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="owningBusinessUnit" placeholder=" Owning Business Unit">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="owningUser" placeholder="Owning User">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="owningTeam" placeholder="Owning Team">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="timeZoneRuleVersionNumber" placeholder="Time Zone Rule Version Number">
                </mat-form-field>
                <!-- <mat-form-field>
                    <input matInput [formControl]="uTCConversionTimeZoneCode" required placeholder="uTCConversionTimeZoneCode">
                </mat-form-field> -->
                <mat-action-row>
                    <button mat-raised-button (click)="dialogRef.close()">Close</button>
                </mat-action-row>
            </div>
        </mat-tab>

        <mat-tab label="Disbursement information">
            <div class="d-flex flex-column" mat-dialog-content>
                <mat-form-field>
                    <input matInput [formControl]="versionNumber" placeholder="Version Number">
                    <mat-error *ngIf="versionNumber.invalid">{{getErrorMessage(versionNumber)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="disbursementId" placeholder="Disbursement Id">
                    <mat-error *ngIf="disbursementId.invalid">{{getErrorMessage(disbursementId)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="stateCode" placeholder="State Code">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="stateCodedisplay" placeholder="State Code Display">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="statusCode" placeholder="Status Code">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="statusCodedisplay" placeholder="Status Code Display">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="comment" placeholder="Comment">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="description" placeholder="Description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="isAdjusted" placeholder="Is Adjusted">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="postedDate" placeholder="Posted Date">
                </mat-form-field>
                <!-- <mat-form-field>
                  <input matInput [formControl]="recipientAccountId" required placeholder="recipientAccountId">
              </mat-form-field>
              <mat-form-field>
                  <input matInput [formControl]="recipientContactId" required placeholder="recipientContactId">
              </mat-form-field> -->
                <mat-form-field>
                    <input matInput [formControl]="requestDate" placeholder="Request Date">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="scheduledDisbursementDate" placeholder="Scheduled Disbursement Date">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="sentDate" placeholder="SentDate">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="status" placeholder="Status">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="statusDisplay" placeholder="Status Display">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="type" placeholder="Type">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="typeDisplay" placeholder="Type Display">
                </mat-form-field>
                <mat-action-row>
                    <button mat-raised-button (click)="dialogRef.close()">Close</button>
                </mat-action-row>
            </div>
        </mat-tab>

        <mat-tab label="Related entity">
            <div class="d-flex flex-column" mat-dialog-content>
                <mat-form-field>
                    <input matInput [formControl]="name" placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="adjustmentComment" placeholder="Adjustment Comment">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="adjustmentReason" placeholder="Adjustment Reason">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="adjustmentReasondisplay" placeholder="Adjustment Reason Ddisplay">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="adjustmentType" placeholder="Adjustment Type">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="adjustmentTypedisplay" placeholder="Adjustment Type Display">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="adjustsOriginalTransactionId" placeholder="Adjusts Original Transaction Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="amount" placeholder="Amount">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="transactionCurrencyId" placeholder="Transaction Currency Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="exchangeRate" placeholder="Exchange Rate">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="amountBase" placeholder="Amount Base">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="awardId" placeholder="Award Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="bookDate" placeholder="Book Date">
                </mat-form-field>
                <mat-action-row>
                    <button mat-raised-button (click)="dialogRef.close()">Close</button>
                </mat-action-row>
            </div>
        </mat-tab>

        <mat-tab label="Transaction information">
            <div class="d-flex flex-column" mat-dialog-content>
                <mat-form-field>
                    <input matInput [formControl]="budgetType" placeholder="Budget Type">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="budgetTypedisplay" placeholder="Budget Type Ddisplay">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="currencyValueDate" placeholder="Currency Value Date">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="disbursementChannelId" placeholder="Disbursement Channel Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="financeTypeId" placeholder="Finance Type Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="flowTypeId" placeholder="Flow Type Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="humanitarian" placeholder="Humanitarian">
                </mat-form-field>
                <mat-action-row>
                    <button mat-raised-button (click)="dialogRef.close()">Close</button>
                </mat-action-row>
            </div>
        </mat-tab>

        <mat-tab label="Other relevant information ">
            <div class="d-flex flex-column" mat-dialog-content>
                <mat-form-field>
                    <input matInput [formControl]="periodEnd" placeholder="Period End">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="periodStart" placeholder="Period Start">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="providerActivityIdentifier" placeholder="Provide rActivity Id Entifier">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="recipientActivityIdentifier" placeholder="Recipient Activity Id Entifier">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="recipientCountryDescription" placeholder="Recipient Country Description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="recipientRegionDescription" placeholder="Recipient Region Description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="transactionType" placeholder="Transaction Type">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="providerOrganizationId" placeholder="Provider Organization Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="recipientCountryId" placeholder="Recipient Country Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="recipientOrganizationId" placeholder="Recipient Organization Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="recipientRegionId" placeholder="Recipient Region Id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [formControl]="tiedStatusId" placeholder="Tied Status Id">
                </mat-form-field>
                <mat-action-row>

                    <button mat-raised-button color="primary" type="submit">
                      <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
                      Lưu
                    </button>
                    <button mat-raised-button (click)="dialogRef.close()">Close</button>
                </mat-action-row>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
<!-- #addForm="ngForm"
[disabled]="ngForm.form.mat-form-field-invalid" -->
