<div class="container-fluid">
    <mat-card class="example-card">
        <mat-card-header class="justify-content-between">
            <mat-card-title>Danh sách tài khoản </mat-card-title>
            <button mat-raised-button color="primary" (click)="insert()" class="mr-2">Thêm mới nhân viên</button>
        </mat-card-header>
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Từ khóa" #keyword (keyup)="applyFilter($event.target.value)">
            <button mat-button *ngIf="keyword.value" matSuffix mat-icon-button aria-label="Clear" (click)="keyword.value='';applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
        <br />
        <mat-card-content>
            <div class="table-responsive">
                <table id="staff" mat-table [dataSource]="dataSource" matSort matSortDisableClear width="100%" class="mat-elevation-z8">

                    <!-- ID Column -->
                    <ng-container matColumnDef="accountId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã ID</th>
                        <td mat-cell *matCellDef="let element">{{element.accountId}}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef style="width:1%">#</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-menu #appMenu="matMenu" xPosition="before">
                                <button (click)="edit(element)" mat-menu-item>Sửa nhân viên</button>
                                <button (click)="delete(element.accountId)" mat-menu-item>Xóa nhân viên</button>
                                <a href="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{element.adminCode}}&chld=L|1&choe=UTF-8" target="_blank" mat-menu-item>Tải QR code</a>
                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
            </mat-paginator>
        </mat-card-actions>
    </mat-card>
</div>
