<h1 mat-dialog-title>{{isEdit?"Cập nhật":"Thêm mới"}} chỉ định</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="d-flex flex-column" mat-dialog-content>
    <mat-form-field>
      <input matInput [formControl]="createdBy" required placeholder="Người Tạo">
      <mat-error *ngIf="createdBy.invalid">{{getErrorMessage(createdBy)}}</mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions class="justify-content-between">
    <button mat-raised-button (click)="dialogRef.close()">Hủy</button>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
      Lưu
    </button>
  </div>
</form>