<div class="container-fluid">
  <mat-card class="example-card">
    <mat-card-header class="justify-content-between">
      <mat-card-title>Danh sách chỉ định</mat-card-title>
    </mat-card-header>
    <div class="mb-2 style-flex">
      <div>
        <button mat-raised-button color="primary" (click)="insert()" class="mr-2">Thêm mới chỉ định</button>
    
      </div>
      
    </div>
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Từ khóa" #keyword (keyup)="applyFilter($event.target.value)">
      <button mat-button *ngIf="keyword.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="keyword.value='';applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <mat-card-content>
      <div class="table-responsive">
        <table id="staff" mat-table [dataSource]="dataSource" matSort matSortDisableClear width="100%"
          class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="designationId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã ID</th>
            <td mat-cell *matCellDef="let element">{{element.designationId}}</td>
          </ng-container>
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Người Tạo</th>
            <td mat-cell *matCellDef="let element">{{element.createdBy}}</td>
          </ng-container>
          
          <!-- IsActive Column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
            <td mat-cell *matCellDef="let element">
              <ng-container [ngSwitch]="element.isActive">
                <span class="text-success" *ngSwitchCase="true">Mở khóa</span>
                <span class="text-danger" *ngSwitchDefault>Khóa</span>
              </ng-container>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="width:1%">#</th>
            <td mat-cell *matCellDef="let element">
              <mat-menu #appMenu="matMenu" xPosition="before">
                <button (click)="edit(element)" mat-menu-item>Sửa</button>            
                <button (click)="delete(element.designationId)" mat-menu-item>Xóa</button>
                <a href="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{element.adminCode}}&chld=L|1&choe=UTF-8"
                  target="_blank" mat-menu-item>Tải QR code</a>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>
        

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>